<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Report v2</title>

  <!-- TODO: Remove me and use dynamically rendered JS data files-->
  <script src="report-data.js"></script>
  <script src="report-datav2.js"></script>
  <!-- Load required Bootstrap and BootstrapVue CSS -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>

  <!-- Load polyfills to support older browsers -->
  <script src="https:///polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
          crossorigin="anonymous"></script>

  <!-- Load Vue followed by BootstrapVue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
  <!-- Load the following for BootstrapVueIcons support -->
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
  <style>
    body {
      background-color: #f5f5f8
    }
  </style>
</head>
<body>
<div id="app">
  <div>
    <b-navbar toggleable="md" variant="faded">
      <b-navbar-brand href="#">
        <img src="https://placekitten.com/g/30/30" class="d-inline-block align-top" alt="Kitten">
        Cloudsplaining Report
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="#">Findings</b-nav-item>
          <b-nav-item href="#">Definitions</b-nav-item>
          <b-nav-item href="#">About</b-nav-item>

        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-text><strong>Account ID</strong> 123456789012</b-nav-text>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
  <b-container class="mt-3">
    <b-row class="mb-3">
      <b-col>
        <h1>Executive Summary</h1>
      </b-col>
    </b-row>
    <b-row class="mb-3">
      <b-col md="8">
        <div style="" class="d-none d-sm-block">
          <summary-bar-chart
            :inline-policy-risks="inlinePolicyRisks"
            :managed-policy-risks="managedPolicyRisks"
            :height="200"
          ></summary-bar-chart>
        </div>
      </b-col>
      <b-col>
        <b-table-simple small responsive>
          <b-thead head-variant="dark">
            <b-tr>
              <b-th>Risk</b-th>
              <b-th>Instances</b-th>
              <b-th>Severity</b-th>
            </b-tr>
          </b-thead>
          <b-tbody>
            <b-tr>
              <b-th>Privilege Escalation</b-th>
              <b-td>{{ inlinePolicyRisks.PrivilegeEscalation }}</b-td>
              <b-td>high</b-td>
            </b-tr>
            <b-tr>
              <b-th>Data Exfiltration</b-th>
              <b-td>{{ inlinePolicyRisks.DataExfiltration }}</b-td>
              <b-td>low</b-td>
            </b-tr>
            <b-tr>
              <b-th>Resource Exposure</b-th>
              <b-td>{{ inlinePolicyRisks.ResourceExposure }}</b-td>
              <b-td>med</b-td>
            </b-tr>
            <b-tr>
              <b-th>Infrastructure Modification</b-th>
              <b-td>{{ inlinePolicyRisks.InfrastructureModification }}</b-td>
              <b-td>low</b-td>
            </b-tr>

          </b-tbody>
        </b-table-simple>
      </b-col>

    </b-row>
    <b-row>
      <b-col>
        <b-card-group deck>
          <b-card
            title="IAM Principals">
            <div>
              <h6 class="text-muted">Policy Violations</h6>
            </div>
            <h3 class="text-center">
              {{ iamPrincipalRisks }}
            </h3>
            <template v-slot:footer>
              <small class="text-muted">
                <b-link href="#">Learn More</b-link>
              </small>
            </template>
          </b-card>
          <b-card
            title="IAM Roles">
            <div>
              <h6 class="text-muted">Policy Violations</h6>
            </div>
            <h3 class="text-center">
              {{ iamRoleRisks }}
            </h3>
            <template v-slot:footer>
              <small class="text-muted">
                <b-link href="#">Learn More</b-link>
              </small>
            </template>
          </b-card>
          <b-card
            title="IAM Groups">
            <div>
              <h6 class="text-muted">Policy Violations</h6>
            </div>
            <h3 class="text-center">
              {{ iamGroupRisks }}
            </h3>
            <template v-slot:footer>
              <small class="text-muted">
                <b-link href="#">Learn More</b-link>
              </small>
            </template>
          </b-card>
          <div class="w-100"></div>
        </b-card-group>
      </b-col>
    </b-row>
    <b-row>

      <div class="w-100"></div>
    </b-row>
    <b-row class="mt-5">
      <b-col class="text-center text-muted">
        Report Generated: 2020-08-06 &diamond;
        Cloudsplaining version:
        <b-link href="https://github.com/salesforce/cloudsplaining">0.1.6</b-link>
      </b-col>
    </b-row>
  </b-container>
</div>

<script>
  const calculateRisks = (iamResource) => {
    return Object.values(iamResource)
      .reduce(
        (acc, {risks}) => acc + Object.keys(risks).length,
        0
      );
  }

  const policyViolations = (policies) => {
    let [privEsc, dataExfil, resExposure, infraMod] = Array(4).fill(0);

    Object.keys(policies).forEach((policyId) => {
      privEsc += policies[policyId]["PrivilegeEscalation"].length;
      dataExfil += policies[policyId]["DataExfiltration"].length;
      resExposure += policies[policyId]["ResourceExposure"].length;
      infraMod += policies[policyId]["InfrastructureModification"].length;
    })

    return {
      "PrivilegeEscalation": privEsc,
      "DataExfiltration": dataExfil,
      "ResourceExposure": resExposure,
      "InfrastructureModification": infraMod
    }
  }

  var SummaryBarChart = {
    extends: VueChartJs.Bar,
    props: ["inlinePolicyRisks", "managedPolicyRisks"],
    computed: {
      myStyles () {
        return {
          height: "100%"
        }
      }
    },
    data: function () {
      return {

        chartData: {
          labels: [
            "Privilege Escalation",
            "Data Exfiltration",
            "Resource Exposure",
            "Infrastructure Modification"
          ],
          datasets: [{
            label: "Inline Policies",
            data: [6, 3, 10, 9],//Object.values(this.inlinePolicyRisks),
            backgroundColor: [
              "#f87979",
              "#f87979",
              "#f87979",
              "#f87979",
            ]
          },
            {
              label: "Managed Policies",
              backgroundColor: [
                "#2247c6",
                "#2247c6",
                "#2247c6",
                "#2247c6",
                "#2247c6",
              ],
              data: [9, 10, 15, 20]//Object.values(this.managedPolicyRisks)
            }]
        },
        options: {
          responsive: true,
          legend: {display: true, position: "bottom"},
          scales: {
            xAxes: [{
              stacked: true,
            }],
            yAxes: [{
              stacked: true
            }]
          },

        }
      }
    },
    mounted() {
      this.renderChart(this.chartData, this.options)
    }
  };

  window.app = new Vue({
    el: "#app",
    components: {
      SummaryBarChart
    },
    data: {
      privateState: {},
      sharedState: window.__REPORT__ || {},
      sharedStateV2: window.__REPORT2__ || {},
    },
    computed: {
      inlinePolicyRisks() {
        return policyViolations(this.sharedStateV2["inline-policies"])
      },
      managedPolicyRisks() {
        return policyViolations(this.sharedStateV2["managed-policies"])
      },

      iamPrincipalRisks() {
        return calculateRisks(this.sharedState.users)
      },

      iamRoleRisks() {
        return calculateRisks(this.sharedState.roles)
      },

      iamGroupRisks() {
        return calculateRisks(this.sharedState.groups)
      }
    }
  })
</script>

</body>
</html>
