<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Report v2</title>

  <!-- TODO: Remove me and use dynamically rendered JS data files-->
  <script src="report-data.js"></script>
  <script src="report-datav2.js"></script>
  <!-- Load required Bootstrap and BootstrapVue CSS -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>

  <!-- Load polyfills to support older browsers -->
  <script src="https:///polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
          crossorigin="anonymous"></script>

  <!-- Load Vue followed by BootstrapVue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
  <!-- Load the following for BootstrapVueIcons support -->
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
  <style>
    body {
      background-color: #fcfcfc;
    }

    .report {
      background-color: #fff;
      border: 1px solid #b7c8d6;
    }

  </style>
</head>
<body>
<div id="app">
  <div>
    <b-navbar toggleable="md" variant="faded">
      <b-navbar-brand href="#">
        <img src="https://placekitten.com/g/30/30" class="d-inline-block align-top" alt="Kitten">
        Cloudsplaining Report
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="#">Findings</b-nav-item>
          <b-nav-item href="#">Definitions</b-nav-item>
          <b-nav-item href="#">About</b-nav-item>

        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-text><strong>Account ID</strong> 123456789012</b-nav-text>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
  <b-container class="mt-3 pb-3 report">
    <b-row class="my-3">
      <b-col cols="*" sm="9">
        <h1>Executive Summary</h1>
      </b-col>
      <b-col>
        <div class="mt-2">
          <b-form-select v-model="policyFilter">
            <b-form-select-option value="none">Show all policies</b-form-select-option>
            <b-form-select-option value="inlinePolicies">Inline policies only</b-form-select-option>
            <b-form-select-option value="custManaged">Customer managed policies</b-form-select-option>
            <b-form-select-option value="awsManaged">AWS managed policies</b-form-select-option>

          </b-form-select>
        </div>
      </b-col>
    </b-row>
    <b-row class="mb-3">
      <b-col lg="8">
        <div style="" class="d-none d-sm-block">
          <summary-bar-chart
            :inline-policy-risks="inlinePolicyRisks"
            :managed-policy-risks="managedPolicyRisks"
            :height="200"
          ></summary-bar-chart>
        </div>
      </b-col>
      <b-col>
        <b-table-simple small responsive>
          <b-thead head-variant="dark">
            <b-tr>
              <b-th>Risk</b-th>
              <b-th>Instances</b-th>
              <b-th>Severity</b-th>
            </b-tr>
          </b-thead>
          <b-tbody>
            <b-tr>
              <b-th>Privilege Escalation</b-th>
              <b-td>{{ policyRisks.PrivilegeEscalation }}</b-td>
              <b-td>high</b-td>
            </b-tr>
            <b-tr>
              <b-th>Data Exfiltration</b-th>
              <b-td>{{ policyRisks.DataExfiltration }}</b-td>
              <b-td>low</b-td>
            </b-tr>
            <b-tr>
              <b-th>Resource Exposure</b-th>
              <b-td>{{ policyRisks.ResourceExposure }}</b-td>
              <b-td>med</b-td>
            </b-tr>
            <b-tr>
              <b-th>Infrastructure Modification</b-th>
              <b-td>{{ policyRisks.InfrastructureModification }}</b-td>
              <b-td>low</b-td>
            </b-tr>

          </b-tbody>
        </b-table-simple>
      </b-col>

    </b-row>

    <div id="principalId">
      <b-container>
        <b-row class="px-2">
          <b-col>
            <h4>
              MyRole
              <small class="text-muted">arn:aws:iam::012345678901:role/MyRole</small>
            </h4>
          </b-col>
          <b-col>
            <b-button v-b-toggle.principal-id-collapse>
             Show
            </b-button>
          </b-col>

        </b-row>
        <b-collapse id="principal-id-collapse">
          <b-row>

            <b-col lg="4">
              <h5>Risks</h5>
              <b-list-group>
                <b-list-group-item class="d-flex justify-content-between align-items-center" :action="true">
                  Data Exfiltration
                  <b-badge variant="warning">9 <span class="sr-only">data exfiltration risks</span></b-badge>
                </b-list-group-item>
                <b-list-group-item class="d-flex justify-content-between align-items-center" :action="true">
                  Privilege Escalation
                  <b-badge variant="danger">3 <span class="sr-only">privilege escalation risks</span></b-badge>
                </b-list-group-item>
                <b-list-group-item class="d-flex justify-content-between align-items-center" :action="true">
                  Resource Exposure
                  <b-badge variant="warning">3 <span class="sr-only">resource exposure risks</span></b-badge>
                </b-list-group-item>
                <b-list-group-item class="d-flex justify-content-between align-items-center" :action="true">
                  Infrastructure Modification
                  <b-badge variant="info">3 <span class="sr-only">infrastructure modification risks</span></b-badge>
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col>
              <h5>Metadata</h5>
              <dl class="row">
                <dt class="col-sm-3">Created</dt>
                <dd class="col-sm-9">2019-08-16 17:27:59+00:00</dd>

                <dt class="col-sm-3">ARN</dt>
                <dd class="col-sm-9 text-monospace">arn:aws:iam::012345678901:role/MyRole</dd>

              </dl>
            </b-col>
          </b-row>
        </b-collapse>

      </b-container>
    </div>

  </b-container>
  <b-container>
    <b-row class="mt-5">
      <b-col class="text-center text-muted">
        Report Generated: 2020-08-06 &diamond;
        Cloudsplaining version:
        <b-link href="https://github.com/salesforce/cloudsplaining">0.1.6</b-link>
      </b-col>
    </b-row>
  </b-container>
</div>


<script type="text/x-template" id="principal">
  <div id="{{ principalId }}">
    <b-container>
      <b-row class="px-2">
        <h2>MyRole</h2>
      </b-row>
      <b-row>

        <b-col lg="4">
          <h4>Risks</h4>
          <b-list-group>
            <b-list-group-item class="d-flex justify-content-between align-items-center" :action="true">
              Data Exfiltration
              <b-badge variant="warning">9 <span class="sr-only">data exfiltration risks</span></b-badge>
            </b-list-group-item>
            <b-list-group-item class="d-flex justify-content-between align-items-center" :action="true">
              Privilege Escalation
              <b-badge variant="danger">3 <span class="sr-only">privilege escalation risks</span></b-badge>
            </b-list-group-item>
            <b-list-group-item class="d-flex justify-content-between align-items-center" :action="true">
              Resource Exposure
              <b-badge variant="warning">3 <span class="sr-only">resource exposure risks</span></b-badge>
            </b-list-group-item>
            <b-list-group-item class="d-flex justify-content-between align-items-center" :action="true">
              Infrastructure Modification
              <b-badge variant="info">3 <span class="sr-only">infrastructure modification risks</span></b-badge>
            </b-list-group-item>
          </b-list-group>
        </b-col>
        <b-col>
          <h4>Metadata</h4>
          <dl class="row">
            <dt class="col-sm-3">Created</dt>
            <dd class="col-sm-9">2019-08-16 17:27:59+00:00</dd>

            <dt class="col-sm-3">ARN</dt>
            <dd class="col-sm-9 text-monospace">arn:aws:iam::012345678901:role/MyRole</dd>

          </dl>
        </b-col>
      </b-row>

    </b-container>
  </div>
</script>
<script src="chart.js">

</script>
<script>
  const IamPrincipal = {
    props: ["principal"],
    methods: {
      riskIndicator(riskType) {

        let risks = Object.keys(this.principal.managed_policies)

        return this.principal["managed_policies"]
      }
    }
  }
</script>

<script>

  const principalsUsingPolicy = (principals, policyId) => {

    const usingPolicy = [];
    Object.keys(principals).forEach((principal, idx) => {
      const {managed_policies} = principals[principal]
      if (managed_policies.hasOwnProperty(policyId)) {
        usingPolicy.push(principal);
      }
    });

    return usingPolicy;
  }

  const calculateRisks = (iamResource) => {
    return Object.values(iamResource)
      .reduce(
        (acc, {risks}) => acc + Object.keys(risks).length,
        0
      );
  }

  const policyViolations = (policies) => {
    let [privEsc, dataExfil, resExposure, infraMod] = Array(4).fill(0);

    Object.keys(policies).forEach((policyId) => {
      privEsc += policies[policyId]["PrivilegeEscalation"].length;
      dataExfil += policies[policyId]["DataExfiltration"].length;
      resExposure += policies[policyId]["ResourceExposure"].length;
      infraMod += policies[policyId]["InfrastructureModification"].length;
    })

    return {
      "PrivilegeEscalation": privEsc,
      "DataExfiltration": dataExfil,
      "ResourceExposure": resExposure,
      "InfrastructureModification": infraMod
    }
  }


  window.app = new Vue({
    el: "#app",
    components: {
      SummaryBarChart
    },
    data: {
      privateState: {},
      sharedState: window.__REPORT2__ || {},
      policyFilter: "none",
    },
    computed: {
      inlinePolicyRisks() {
        return policyViolations(this.sharedState["inline-policies"])
      },
      managedPolicyRisks() {
        return policyViolations(this.sharedState["managed-policies"])
      },

      policyRisks() {

        if (this.policyFilter === "inlinePolicies") {
          return this.inlinePolicyRisks
        }

        if (["custManaged", "awsManaged"].indexOf(this.policyFilter) !== -1 ) {
          return this.managedPolicyRisks;
        }
        if (this.policyFilter === "none") {
          return {
              "PrivilegeEscalation": this.inlinePolicyRisks.PrivilegeEscalation + this.managedPolicyRisks.PrivilegeEscalation,
              "DataExfiltration": this.inlinePolicyRisks.DataExfiltration + this.managedPolicyRisks.DataExfiltration,
              "ResourceExposure": this.inlinePolicyRisks.ResourceExposure + this.managedPolicyRisks.ResourceExposure,
              "InfrastructureModification": this.inlinePolicyRisks.InfrastructureModification + this.managedPolicyRisks.InfrastructureModification
          }
        }
      },

      iamPrincipalRisks() {
        return calculateRisks(this.sharedState.users)
      },

      iamRoleRisks() {
        return calculateRisks(this.sharedState.roles)
      },

      iamGroupRisks() {
        return calculateRisks(this.sharedState.groups)
      },
      principalsPolicy() {
        return principalsUsingPolicy(this.sharedState.users, "ANPAIWMBCKSKIEE64ZLYK")
      }
    }
  })
</script>

</body>
</html>
